@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --backgroundsecondary: rgba(248, 249, 251, 1);
  --borderdefault: rgba(232, 234, 240, 1);
  --button-button3-semibold-font-family: "Pretendard", Helvetica;
  --button-button3-semibold-font-size: 12px;
  --button-button3-semibold-font-style: normal;
  --button-button3-semibold-font-weight: 600;
  --button-button3-semibold-letter-spacing: 0px;
  --button-button3-semibold-line-height: 100%;
  --dark-modebackgrounddefault: rgba(32, 32, 32, 1);
  --dark-modebackgroundprimary: rgba(255, 216, 59, 1);
  --dark-modebackgroundprimary-disabled: rgba(187, 209, 252, 0.1);
  --dark-modebackgroundsecondary: rgba(50, 50, 50, 1);
  --dark-modeborderdefault: rgba(74, 74, 75, 1);
  --dark-modeborderprimary: rgba(255, 216, 59, 1);
  --dark-modebordersecondary: rgba(137, 137, 139, 1);
  --dark-modetextdefault: rgba(255, 255, 255, 1);
  --dark-modetextprimary: rgba(255, 216, 59, 1);
  --dark-modetextsecondary: rgba(168, 168, 170, 1);
  --header-h1-font-family: "Pretendard", Helvetica;
  --header-h1-font-size: 28px;
  --header-h1-font-style: normal;
  --header-h1-font-weight: 700;
  --header-h1-letter-spacing: 0px;
  --header-h1-line-height: 139.9999976158142%;
  --label-regular-font-family: "Pretendard", Helvetica;
  --label-regular-font-size: 10px;
  --label-regular-font-style: normal;
  --label-regular-font-weight: 400;
  --label-regular-letter-spacing: 0px;
  --label-regular-line-height: 100%;
  --light-modebackgrounddefault: rgba(255, 255, 255, 1);
  --light-modebackgroundsecondary: rgba(248, 249, 251, 1);
  --light-modeborderdefault: rgba(233, 233, 235, 1);
  --light-modetextdefault: rgba(32, 32, 32, 1);
  --text-body1-regular-font-family: "Roboto", Helvetica;
  --text-body1-regular-font-size: 16px;
  --text-body1-regular-font-style: normal;
  --text-body1-regular-font-weight: 400;
  --text-body1-regular-letter-spacing: 0px;
  --text-body1-regular-line-height: 139.9999976158142%;
  --text-body2-medium-font-family: "Pretendard", Helvetica;
  --text-body2-medium-font-size: 14px;
  --text-body2-medium-font-style: normal;
  --text-body2-medium-font-weight: 500;
  --text-body2-medium-letter-spacing: 0px;
  --text-body2-medium-line-height: 139.9999976158142%;
  --text-body2-regular-font-family: "Pretendard", Helvetica;
  --text-body2-regular-font-size: 14px;
  --text-body2-regular-font-style: normal;
  --text-body2-regular-font-weight: 400;
  --text-body2-regular-letter-spacing: 0px;
  --text-body2-regular-line-height: 139.9999976158142%;
  --text-body3-medium-font-family: "Pretendard", Helvetica;
  --text-body3-medium-font-size: 12px;
  --text-body3-medium-font-style: normal;
  --text-body3-medium-font-weight: 500;
  --text-body3-medium-letter-spacing: 0px;
  --text-body3-medium-line-height: 139.9999976158142%;
  --text-body3-regular-font-family: "Pretendard", Helvetica;
  --text-body3-regular-font-size: 12px;
  --text-body3-regular-font-style: normal;
  --text-body3-regular-font-weight: 400;
  --text-body3-regular-letter-spacing: 0px;
  --text-body3-regular-line-height: 139.9999976158142%;
  --textsecondary: rgba(134, 147, 164, 1);
}

:root {
  --animate-spin: spin 1s linear infinite;
}

.animate-fade-in {
  animation: fade-in 1s var(--animation-delay, 0s) ease forwards;
}

.animate-fade-up {
  animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
}

.animate-marquee {
  animation: marquee var(--duration) infinite linear;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.animate-shimmer {
  animation: shimmer 8s infinite;
}

.animate-spin {
  animation: var(--animate-spin);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes image-glow {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
  }

  10% {
    opacity: 0.7;
    animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
  }

  to {
    opacity: 0.4;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes shimmer {
  0%,
  90%,
  to {
    background-position: calc(-100% - var(--shimmer-width)) 0;
  }

  30%,
  60% {
    background-position: calc(100% + var(--shimmer-width)) 0;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}
